server:
  port: 8012
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/data
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  boot:
    client:
      url: http://localhost:1001

  eureka:
    client:
      service-url:
        defaultZone: http://localhost:8761/eureka

management:
  endpoints: